<!-- .container is main centered wrapper -->
<div class="container">
    <h1>Edit an Article</h1>

    <%= render 'form' %>

    <%= link_to 'Back to Index', articles_path %>
</div> <!-- .container is main centered wrapper -->


