<!-- .container is main centered wrapper -->
<div class="container">
    <h1>Welcome to The Blog!</h1>
    <%= link_to 'Index of Articles', controller: 'articles' %>
</div> <!-- .container is main centered wrapper -->
